---
// CRT Monitor Frame wrapping content
---

<div class="crt-frame">
  <div class="crt-frame__screen">
    <slot />
  </div>
  <div class="crt-frame__buttons">
    <div class="crt-frame__btn crt-frame__btn--power"></div>
    <div class="crt-frame__btn"></div>
    <div class="crt-frame__btn"></div>
  </div>
</div>
